* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
 /* Header and Navbar */

.header {
    background: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}
.logo-title {
    font-size: 45px;
    font-weight: 700;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li a{
    padding-right: 50px;
    color: #424242;
    text-decoration: none;
}

/* Banner title and description  */
.banner-text {
    padding-left: 512px;
    padding-right: 546px;
    width: 100%;
}

.banner-title{
    font-weight: 700;
    font-size: 64px;
    padding-top: 116px;
    color: #131313;
    
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-top: 30px;
    padding-bottom: 30px;
}

.primary-button{
    padding: 18px 24px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF900E;
    color: #FFFFFF;
}
.banner-photo {
    text-align: center;
    padding: 30px 0;
}